<h1>create account</h1>

<form action="/users" method="post">
    <div>
        <label for="">username</label>
        <input type="text" name="username">
    </div>
    <div>
        <label for="">first name</label>
        <input type="text" name="firstname">
    </div>
    <div>
        <label for="">last name</label>
        <input type="test" name="lastname">
    </div>
    <div>
        <label for="">street address</label>
        <input type="text" name="street_address">
    </div>
    <div>
        <label for="">city</label>
        <input type="text" name="city">
    </div>
        <label for="">postcode</label>
        <input type="text" name="postcode">
    <div>
          <label for="">country</label>
        <input type="text" name="country">
    </div>
    <div>
        <label for="">email</label>
        <input type="text" name="email">
    </div>
    <div>
        <label for="">password</label>
        <input class='passwordInput' type="password" name="password">
    </div>
    <div>
        <button class="showButton" type="button">show</button>
        <button>submit</button>
    </div>
</form>
