<div class="create-account">
    <form action="/users" method="post">
    <h1>create account</h1>
        <div class="create-account-sections">
            <label class="create-acct-username-input" for="">username</label>
            <input type="text" name="username" placeholder="username">
        </div>
        <div class="create-account-sections">
            <label class="create-acct-firstname-input" for="">first name</label>
            <input type="text" name="firstname" placeholder="firstname">
        </div>
        <div class="create-account-sections">
            <label class="create-acct-lastname-input" for="">last name</label>
            <input type="test" name="lastname" placeholder="lastname">
        </div>
        <div class="create-account-sections">
            <label class="create-acct-avatar-input" for="">avatar</label>
            <input type="text" name="avatar" placeholder="avatar">
        </div>
        <div class="create-account-sections">
            <label for="">street address</label>
            <input type="text" name="street_address" placeholder="street address">
        </div>
        <div class="create-account-sections">
            <label class="create-acct-city-input" for="">city</label>
            <input type="text" name="city" placeholder="city">
        </div>
        <div class="create-account-sections">
            <label class="create-acct-postcode-input" for="">postcode</label>
            <input type="text" name="postcode" placeholder="postcode">
        </div>
        <div class="create-account-sections">
            <label class="create-acct-country-input" for="">country</label>
            <input type="text" name="country" placeholder="country">
        </div>
        <div class="create-account-sections">
            <label class="create-acct-email-input" for="">email</label>
            <input type="text" name="email" placeholder="email">
        </div>
        <div class="create-account-sections">
            <label class="create-acct-password-input" for="">password</label>
            <input class='passwordInput' type="password" name="password" placeholder="password">
        </div>
        <div class="btn-section">
            <button class="showButton" type="button">show</button>
            <button>submit</button>
        </div>

    </form>

</div>