<div class="center-align-container">
    <h1>login</h1>

    <form action="/sessions" method="post">
        <label for="">email</label>
        <input type="text" name="email" placeholder="email">
        <label for="">password</label>
        <input class='passwordInput' type="password" name="password" placeholder="password">
        <button class="showButton" type="button">show</button>
        <button>login</button>
    </form>
</div>
