<div class="login">
    
    <form action="/sessions" method="post">
        <h1>login</h1>
        <div class="email-section">
            <label class="email-input" for="">email</label>
            <input type="text" name="email" placeholder="email" required>
        </div>
        <div class="password-section">
            <label for="">password</label>
            <input class='passwordInput' type="password" name="password" placeholder="password" required>
        </div>
        <div class="btn-section">
            <button class="showButton" type="button">show</button>
            <button>login</button>
        </div>
    </form>
</div>
