<h1>login</h1>

<form action="/sessions" method="post">
    <label for="">username</label>
    <input type="text" name="username">
    <label for="">email</label>
    <input type="text" name="email">
    <label for="">password</label>
    <input type="password" name="password">
    <button style="button">show</button>
    <button>login</button>
</form>
