<% if @fails == [] %>
    You have no current Yoga Fails
<% else %>
    <% @fails.each do |fail| %>
        <p><%= fail.title %></p>
        <img src="<%= fail.image_url %>" alt="">
        <p><%= fail.image_url %></p>
    <% end %>
<% end %>