<div class="post-new-yoga-fail">
    <form action="/fails" method="post">
    <h1>post new Yoga fail</h1>
    <div class="title-section">
        <label for="">title</label>
        <input type="text" name="title">
    </div>
    <div class="location-section">
        <label for="">location</label>
        <input type="text" name="location">
    </div>
    <div class="tags-section">
        <label for="">tags</label>
        <input type="text" name="tags">
    </div>
    <div class="image-url-section">
        <label for="">image_url</label>
        <input type="text" name="image_url">
    </div>
    <div class="create-btn-section">
        <button>create</button>
    </div>
    </form>
</div>
