body {
    /* font-family: 'Amatic SC', cursive; */
    /* font-family: 'Alegreya Sans SC', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

.center-align-container {
    text-align: center;
}

.create-account {
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 20px;
}

.create-account form {
    border: 1px solid rgba(226, 201, 206, 0.5);
    width: 40%;
}


.create-account h1 {
    font-size: 26px;
    background-color: rgba(226, 201, 206, 0.5);
    color: #fff;
    text-align: center;
}

.create-account-sections {
    padding: 10px 20px 0;
    text-align: center;
}

.create-acct-username-input {
    margin-right: 43px;
}

.create-acct-firstname-input {
    margin-right: 43px;
}

.create-acct-lastname-input {
    margin-right: 43px;
}

.create-acct-avatar-input {
    margin-right: 74px;
}

.create-acct-city-input {
    margin-right: 102px;
}

.create-acct-postcode-input {
    margin-right: 48px;
}

.create-acct-country-input {
    margin-right: 61px;
}

.create-acct-email-input {
    margin-right: 80px;
}

.create-acct-password-input {
    margin-right: 42px;
}

.edit-yoga-fail {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 20px;
}

.edit-yoga-fail form {
    border: 1px solid rgba(226, 201, 206, 0.5);
    width: 40%;
}

.edit-yoga-fail h1 {
    font-size: 26px;
    background-color: rgba(226, 201, 206, 0.5);
    color: #fff;
    text-align: center;
}

.login {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 20px;
}

.login form {
    border: 1px solid rgba(226, 201, 206, 0.5);
    width: 40%;
}

.login h1 {
    font-size: 26px;
    background-color: rgba(226, 201, 206, 0.5);
    color: #fff;
    text-align: center;
}

.email-input {
    margin-right: 40px;
}

.email-section {
    padding: 10px 20px 0;
    text-align: center;
}

.password-section {
    padding: 0 20px;
    text-align: center;
}

.btn-section {
    padding: 0 20px 10px;
    text-align: center;
}

.post-new-yoga-fail {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 20px;
}

.post-new-yoga-fail h1 {
    font-size: 26px;
    background-color: rgba(226, 201, 206, 0.5);
    color: #fff;
    text-align: center;
    padding: 10px 20px;
}

.post-new-yoga-fail form {
    border: 1px solid rgba(226, 201, 206, 0.5);
    width: 40%;
    
}

.title-section  {
    padding: 10px 20px 0;
    text-align: center;
}

.title-section label  {
    margin-right: 56px;
}

.location-section  {
    padding: 0 20px;
    text-align: center;
}

.location-section label {
    margin-right: 18px;
}

.tags-section  {
    padding: 0 20px;
    text-align: center;
}

.tags-section label {
    margin-right: 53px;
}

.image-url-section  {
    padding: 0 20px;
    text-align: center;
}

.create-btn-section {
    padding: 0 20px 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(238, 238, 238, 0.55);
    text-align: center;
    padding-bottom: 20px;
    color: white;
    font-weight: bold;
}

nav button {
    color: black;
}

.headerbg {
    background-image: url(https://media1.tenor.com/images/c6ada00dd16b318fe528d1c7cd7405a2/tenor.gif?itemid=12099593);
    background-position: -100px 450px;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

header {
    /* background: url(https://media.giphy.com/media/8UNoxeQShkPmM/giphy.gif); */
    /* background: url(https://www.youtube.com/embed/QaMgGbDQ50w?autoplay=1&controls=0&showinfo=0&autohide=1&mute=1); */
    background-color: rgba(238, 238, 238, 0.55);
    padding: 80px 0 80px;
    
}

header h1 {
    font-family: 'Lacquer', sans-serif;
    font-weight: bold;
    font-size: 9rem;
    line-height: 1.5;
    color: #fff;
    text-align: center;
}


.newPostLink {
    display: block;
}

/* .home_images {
    display: inline-block;
    margin: 50px 20px 0;
} */

.home_images {
    display: inline-block;
    margin: 50px 20px 0;
    background-color: rgba(226, 201, 206, 0.5);
}

.image-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.avatar {
    width: 2.5vw;
    border-radius: 50%;
}

.username {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    padding-left: 5px;
}

.image-main img {
    display: block;
    width: 300px;
    height: 300px;
    margin: auto;
    object-fit: contain;
    background-color: white;
    padding: 10px 0;
    border: 2px solid rgba(226, 201, 206, 0.5);
}

.image-footer {
    display: flex;
    margin-right: auto;
    padding: 10px;
}

/* .home_images img {
    display: block;
    width: 300px;
    height: 300px;
    margin: auto;
    object-fit: contain;
} */

.fail_title {
    padding: 10px 0 20px;
    font-weight: bold;
}

img {
    width: 30%;
}

.your-yoga-fail-photo {
    padding: 20px 0;
}

.your-yoga-fail-photo p {
    padding: 20px 0;
}

.hide {
    display: none;
}

.row {
    display: flex;
    height: 100vh;
    margin: 10vh auto;
    justify-content: center;
    margin-bottom: -400px;
}

.column1 {
    display: flex;
    min-width: 35%;
    max-height: 50%;
}

.column1 img {
    width: 100%;
    object-fit: contain;
}

.column2 {
    display: flex;
    flex-direction: column;
    min-width: 25%;
    max-width: 25%;
    max-height: 50%;
}

.top {
    padding: 20px;
    background-color: rgba(226, 201, 206, 0.5);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.user-details-and-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle {
    padding: 10px 20px 0;
    padding-bottom: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.bottom {
    padding: 20px;
    background-color: rgba(226, 201, 206, 0.5);
    display: flex;
    justify-content: space-between;
}

.likes-section {
    position: relative;
}

.likes-section:hover .heart2 .heart{
    /* display: block; */
    opacity: 1;
}

.heart2 {
    position: absolute;
    right: 15px;
    top: -15px;
    font-size: 2.2rem;
    color: white;
    cursor: pointer;
    /* display: none; */
    opacity: 1;
    transition: all 0.5s linear;
}

.heart {
    position: absolute;
    right: 15px;
    top: -15px;
    font-size: 2.2rem;
    color: red;
    cursor: pointer;
    /* display: none; */
    opacity: 1;
    transition: all 0.5s linear;
}

.likes-section form {
    padding-bottom: 30px;
}

.hide {
    display: none;
}

.fail-title-show-section {
    font-size: 2rem;
}

.edit-delete-yoga-fail {
    display: flex;
    flex-direction: column;
    /* margin-left: auto; */
   
}

.edit-delete-yoga-fail a {
    margin-left: auto;
}

.when-listed-section {
    text-align: right;
}

.user_usernames,
.user_comments,
.delete_comments,
.update_comments {
    display: inline;
}

.user_usernames {
    font-weight: bold;
    font-size: 20px;
}

.comment {
    padding-right: 10px;
    display: inline;
}

.logoutForm {
    display: inline;
    padding-left: 10px;
}

.deleteFailForm {
    margin-left: auto;
}

.deleteCommentForm {
    display: inline;
    padding-left: 10px;
}

.business-body {
    margin: 0 auto;
    width: 70vw;
}

.business-intro section:first-child {
    padding: 40px 0 0;
}

.business-intro section {
    padding: 20px 0 0;
    font-size: 1.5vw;
}

.businesses-border {
    margin: 5% 0;
    padding: 2%;
    border: 2px solid rgba(141, 135, 135, 1);
    border-radius: 20px;
}

.business-name {
    display: flex;
    justify-content: center;
    padding: 20px 0 20px;
    margin: 2% auto;
    font-size: 1.5vw;
    background-color: rgba(226, 201, 206, 1);
    border-radius: 20px;
}

.business-info {
    display: flex;
}

.business-image img {
    border-radius: 20px;
    width: 20vw;
    height: 14vw;
    object-fit: cover;
}

.business-contact-details {
    align-self: center;
    padding-left: 40px;
    font-size: 1.5vw;
}

@media (max-width: 55em) {
    header h1 {
        font-size: 4em;
    }
    .headerbg {
        background-position: -70px bottom;
    }

    header {
        padding: 50px 0;
    }
    
    .login form {
        width: 60%;
    }
    
    .edit-yoga-fail form {
        width: 60%;
    }

    .create-account form {
        width: 70%;
      
    }

    .post-new-yoga-fail form {
        width: 60%;
    }

} 

@media (max-width: 30em) {
    .headerbg {
        background-position: -30px bottom;
    }

    header h1 {
        font-size: 2em;
    }

    nav {
        font-size: 1vh;
        flex-flow: column wrap;
    }

    header {
        padding: 20px 0;
    }

    .login form {
        width: 60%;
    }

    .edit-yoga-fail form {
        width: 60%;
    }
    
    .create-account form {
        width: 100%;
        
    }

    .post-new-yoga-fail form {
        width: 60%;
    }
    
} 

@media (max-width: 300px) {
    
    .login form {
        width: 95%;
    }

    .edit-yoga-fail form {
        width: 95%;
    }
    
    .create-account form {
        width: 100%;
        
    }

    .post-new-yoga-fail form {
        width: 95%;
    }
    
} 

