body {
    /* font-family: 'Amatic SC', cursive; */
    /* font-family: 'Alegreya Sans SC', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

/* @keyframes bounce-background {
    from {
       background-position-x: 0px;
       background-position-y: -30px;
      }
      to {
        background-position-y: -30px;
        background-position-x: 70vw;
      }
} */

.center-align-container {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(238, 238, 238, 0.55);
}

.headerbg {
    background-image: url(https://media1.tenor.com/images/c6ada00dd16b318fe528d1c7cd7405a2/tenor.gif?itemid=12099593);
    /* background-attachment: fixed; */
    background-position: -100px 415px;
    height: 100%;
    /* background-repeat: repeat-x; */
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

header {
    /* background: url(https://media.giphy.com/media/8UNoxeQShkPmM/giphy.gif); */
    /* background: url(https://www.youtube.com/embed/QaMgGbDQ50w?autoplay=1&controls=0&showinfo=0&autohide=1&mute=1); */
    background-color: rgba(238, 238, 238, 0.55);
    padding: 80px 0 80px;
    
}

header h1 {
    font-family: 'Lacquer', sans-serif;
    font-weight: bold;
    font-size: 9rem;
    line-height: 0;
    color: #fff;
    text-align: center;
}


body {
    /* background: #fee938 url(yogawine.gif) no-repeat 0 0;
    /* background-color: brown; */
    /* width: 100%;
  margin: 0;
  text-align: center;
  height: 300px;
  padding-top: 160px;
  box-sizing: border-box;
  -webkit-animation-name: bounce-background;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: 100;
  -webkit-animation-direction: alternate; */
  /* text-align: center; */
}

/* <div style="position: fixed; z-index: -1; width: 100%; height: 100%; opacity: 10%;">
  <iframe frameborder="0" height="100%" width="100%" 
    src="https://youtube.com/embed/zBXMPRG8y08?autoplay=1&controls=0&showinfo=0&autohide=1&mute=1">
  </iframe> */


.newPostLink {
    display: block;
}

.home_images {
    display: inline-block;
    margin: 50px 20px 0;
}

.home_images img {
    /* width: 100%;
    height: 100%; */
    display: block;
    width: 300px;
    height: 300px;
    margin: auto;
    object-fit: contain;
}

.fail_title {
    padding: 10px 0 20px;
    font-weight: bold;
}

img {
    width: 30%;
}

.hide {
    display: none;
}

.user_usernames,
.user_comments,
.delete_comments,
.update_comments {
    display: inline;
}

.user_usernames {
    font-weight: bold;
    font-size: 20px;
}

.comment {
    padding-right: 10px;
    display: inline;
}

.logoutForm {
    display: inline;
    padding-left: 10px;
}

.deleteFailForm {
    display: inline;
    padding-left: 10px;
}

.deleteCommentForm {
    display: inline;
    padding-left: 10px;
}

.business-body {
    margin: 0 auto;
    width: 70vw;
}

.business-intro section:first-child {
    padding: 40px 0 0;
}

.business-intro section {
    padding: 20px 0 0;
    font-size: 1.5vw;
}

.businesses-border {
    margin: 5% 0;
    padding: 2%;
    border: 2px solid rgba(141, 135, 135, 1);
    border-radius: 20px;
}

.business-name {
    display: flex;
    justify-content: center;
    padding: 20px 0 20px;
    margin: 2% auto;
    font-size: 1.5vw;
    background-color: rgba(226, 201, 206, 1);
    border-radius: 20px;
}

.business-info {
    display: flex;
}

.business-image img {
    border-radius: 20px;
    width: 20vw;
    height: 14vw;
    object-fit: cover;
}

.business-contact-details {
    align-self: center;
    padding-left: 40px;
    font-size: 1.5vw;
}

@media (max-width: 55em) {
    header h1 {
        font-size: 4em;
    }
    .headerbg {
        background-position: -70px 220px;
    }

    header {
        padding: 50px 0;
    }
    
} 

@media (max-width: 30em) {
    .headerbg {
        background-position: -30px bottom;
    }

    header h1 {
        font-size: 2em;
    }

    nav {
        font-size: 1vh;
        flex-flow: column wrap;
    }

    header {
        padding: 20px 0;
    }
    
} 


